<%= form_for(button) do |f| %>
  <% if button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(button.errors.count, "error") %> prohibited this button from being saved:</h2>

      <ul>
      <% button.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
