<p id="notice"><%= notice %></p>

<h1>Buttons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buttons.each do |button| %>
      <tr>
        <td><%= button.name %></td>
        <td><%= button.count %></td>
        <td><%= link_to 'Show', button %></td>
        <td><%= link_to 'Edit', edit_button_path(button) %></td>
        <td><%= link_to 'Destroy', button, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Button', new_button_path %>
